:ruby
  def render_file(filename)
    contents = File.read filename
    Haml::Engine.new(contents).render
  end

!!!
%html{:lang => :zh}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %title Lily

    %link{:media => 'screen', :rel => 'stylesheet', :type => 'text/css', :href => 'css/lily.css'}

  %body.lily-example-doc

    .container
      .row
        .col-desk-9
          = render_file 'example/lily.haml'
          = render_file 'example/overflow.haml'
          = render_file 'example/grid.haml'
          = render_file 'example/typography.haml'
          = render_file 'example/consts.haml'
        .col-desk-3
          我是占位文字

    / %script{:type => 'text/javascript', :src => 'ui/lib/jquery-2.1.0.min.js'}
    / %script{:type => 'text/javascript', :src => 'ui/ui.js'}